@model Hotel_Management_MVC.ViewModels.RoomViewModelForDetails


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ViewModelForAvailability> Availability = ViewBag.Availability as List<ViewModelForAvailability>;
}

<h1>Details</h1>
<a asp-action="Create" asp-controller="Booking" asp-route-Rid="@Model.Room_ID" asp-route-Bid="@Model.Branch_ID">Booke Room </a>
<div class="row">
    <div class="col-md-6 room-category" data-category="@Model.Category_Name">
        <div class="card m-2" style="width: 18rem;">
            <div class="card-header">
                <h3>@Model.Room_No</h3>
            </div>
            <img class="card-img-top card-body imageThumbnail" style="height: 200px;" src="@Model.Image_URl[0]" asp-append-version="true" />
            <div class="card-footer text-center">
                <h4>@Model.Category_Name</h4>
                <dl class="row">
                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Room_Description)</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Room_Description)</dd>

                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Room_Price)</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Room_Price)</dd>

                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Iminity_Pool)</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Iminity_Pool)</dd>

                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Iminity_Bath)</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Iminity_Bath)</dd>

                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Iminity_NoOfBed)</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Iminity_NoOfBed)</dd>
                </dl>
            </div>

            <div class="card-footer text-center">
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.Room_ID }, new { @class = "btn btn-primary m-1" })*@
                <a asp-action="Index" class="btn btn-secondary m-1" asp-route-id="@Model.Branch_ID">Back to List</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Availability Table -->
        <div class="card m-2" style="width: 100%;">
            <div class="card-header">
                <h3>Availability</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Availability</th>
                            <th>Customer Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var availability in Availability)
                        {
                            <tr style="padding: 10px; margin:10px; background-color: @(availability.Availability == "Available" ? "#d3ffd3" : "#d9534f");">
                                <td style="padding: 10px; margin: 10px;">@availability.Date.ToShortDateString()</td>
                                <td style="padding: 10px; margin: 10px;">@availability.Availability</td>
                                <td style="padding: 10px; margin: 10px;">@availability.Customer_Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
